@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Quicksand', sans-serif;
    color: white;

    font-size: 22px;
}

html {
    scroll-behavior: smooth;
}

body{
    
    background-color: black;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

span.subtitle{
    font-size: .8rem;
    opacity: .7;
}

h3 {
    font-size: 1.5em;
}

header{
    position: fixed;
    display: flex;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}

#nav-toggle {
    background-color: transparent;
    border: none;

    cursor: pointer;
}

#nav-toggle svg{
    height: 1.5em;
}

#nav-toggle svg path {
    stroke-linecap: round !important;
}

header nav {
    display: none;
}

.nav-open header nav {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .5em;
    padding: 1em;
}

.ham-icon, .ham-icon path{
    transition: transform 200ms ease, stroke-width 100ms ease;
}
.ham-icon.close {
    transform: rotate(90deg);
}
.ham-icon.close path:first-of-type {
    transform: rotate(45deg) translate(20%, -20%);
}
.ham-icon.close path:nth-of-type(2) {
    stroke-width: 0px !important;
}    
.ham-icon.close path:last-of-type {
    transform: rotate(-45deg) translate(-50%, -10%);
}

.page-section {
    position: relative;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;   
}

#page-1 .video-credit{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
}

.video-credit a, a.video-credit {
    font-size: .7rem;
    opacity: .7;
    transition: opacity 200ms ease;
}

*:has(> [class^="fa-"]) {
    display: flex;
    align-items: center;
}



.video-credit a:hover, a.video-credit:hover {
    opacity: 1;
}

#example-moonlight{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;


    background: antiquewhite;
}
@media screen and (min-width: 950px) {
    .vid-stats ul {
        position: absolute;
        bottom: 0;
        left: 0;

    }
}
.vid-stats {
    position: relative;
}
.vid-stats ul {

    background-color: antiquewhite;
    list-style: none;
    padding: 0.5em;
    margin: -1px;
}


#page-1 video, #page-1 .video-wrapper{
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    object-position: 30%;
    height: 100vh;
    overflow-y: hidden;
}

#page-1 .hero-text {
    position: absolute;
    bottom: 20%;
    left: 0;
    text-align: left;
    padding: 10px;
}

[id^="page-"] > h1 {
    text-align: center;
}

.code-line, .code-area {
    overflow-x: auto;
    background-color: darkslategrey;
    border-radius: 5px;
    padding: .2em 1em;
    width: fit-content;
}

.code-area code, .code-area code{
    color: wheat !important;
    font-family: monospace;    
}

.code-line {
    white-space: nowrap;
}

.article-area > * {
    max-width: 80vw;
    width: 1080px;
    margin: auto;
}

.article-area > *:not(h1, h2){
    margin-bottom: 1em !important;
}

.article-area p a {
    border-bottom: solid black 1px;
}

.article-area p a:hover {
    border-bottom: solid black 2px;
}

.article-area {
    background: linear-gradient(90deg, rgba(223,249,255,1) 0%, rgba(238,252,255,1) 33%, rgba(238,252,255,1) 63%, rgba(223,249,255,1) 100%);}
.article-area *{
    color: black;
}

[class^="animation-"]{
    animation-delay: calc(var(--delay) * 1ms) !important ;
}

.animation-flip{
    transform: rotatex(90deg);
    animation: unflip 500ms ease forwards;
}

@keyframes unflip {
    0%{transform: rotatex(90deg);}
    100%{transform: rotatex(0deg);}
}

.animation-unblur{
    animation: unblur 800ms ease forwards;
}

@keyframes unblur {
    0%   { filter: blur(50px); }
    100% { filter: blur(0px); }
}